{% block navbar %}
    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-light navbar-static">
        <div class="navbar-brand">
            <img src="{{ asset('assets/img/logoHolaCOM.png') }}" alt="">
        </div>
    </div>
    <!-- /main navbar -->
{% endblock %}